
@media (max-width: 576px) {
    
}

@media only screen and (min-width: 992px)  {
    .datagrid-column-serialNo {
        width: 350px !important;
    }

    .datagrid-column-givenCredit {
        width: 150px !important;
    }

    .datagrid-column-remarkName {
        width: 250px !important;
    }

    .datagrid-column-createdAt {
        width: 250px !important;
    }

    .datagrid-column-redemptionAcc {
        width: 250px !important;
    }

    .datagrid-column-updatedAt {
        width: 250px !important;
    }

    .datagrid-column-serialStatus {
        width: 250px !important;
    }
}