/* .custom-button {
    background-color: #008CBA;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

@media (min-width: 768px) {
    .custom-button {
        font-size: 20px;
        padding: 12px 24px;
    }
}
 */


.apply-filter {
    justify-content: center;
}

.button-container {
    display: grid;
}

.filter-button {
    border: 1px solid #6200EE !important;
}

.date-range {
    margin-bottom: 20px;
    justify-content: center;
}





.react-datepicker__header {
    background-color: #868dfb !important; 
    border: none; 
    color: white; 
}

.react-datepicker {
    border: 10px solid #ffb866;
    border-radius: 1rem ;
}

.react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text {
    background-color: rgb(249, 245, 235);
}

.react-datepicker__navigation-icon::before {
    border-color: rgb(0, 0, 0); 
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    background-color: #868dfb !important;
}


@media (max-width: 576px) {
    .statbox-content {
        padding-left: 17px;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .subtitle-font {
        font-size: 12px !important;
        color: #00000099 !important;
    }

    .title-font {
        font-size: 16px !important;
        font-weight: bold !important;
        color: black !important;
        padding-left: 5px;
    }

    .sub-header {
        font-size: 16px !important;
        font-weight: bold !important;
        color: #141414 !important;
        padding-bottom: 5px;
    }

    .category {
        padding-top: 35px;
    }

    .style-statbox {
        border: 1px solid #00000010;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .iconSize {
        color: #6200EE;
        font-size: 23px !important;
    }

    .button-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding-bottom: 22px;
        padding-top: 15px;
    }

    .filter-button {
        font-size: 12px !important;
    }

    .date-range {
        display: grid;
        /* grid-template-columns: 1fr; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 10px;
        font-size: 12px;
    }
}


@media(min-width: 600px) {
    .statbox-content {
        padding-left: 17px;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .subtitle-font {
        font-size: 16px !important;
        color: #00000099 !important;
    }

    .title-font {
        font-size: 20px !important;
        font-weight: bold !important;
        color: black;
        padding-left: 10px;
    }

    .sub-header {
        font-size: 20px !important;
        font-weight: bold !important;
        color: #141414 !important;
        padding-bottom: 8px;
    }

    .category {
        padding-top: 30px;
    }

    .style-statbox {
        border: 1px solid #00000010;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .iconSize {
        color: #6200EE;
        font-size: 23px;
        padding-top: 4x !important;
    }

    .button-container {
        grid-gap: 5px;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 22px;
        padding-top: 15px;
    }

    .filter-button {
        font-size: 14px !important;
    }

    .date-range {
        padding-top: 20px;
    }
}

@media (min-width: 1200px) {
    .button-container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(7, 1fr);
    }
}