@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Barlow', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* HAndle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pro-menu-item {
  list-style: none;
}






.pro-inner-item {
  display: inline-flex;
  padding-left: 20px;
}

.pro-inner-item:active {
  color: #6200EE;
}

.pro-item-content {
  padding-left: 10px;
}


@media (max-width: 576px) {
  .navItem-style {
    color: #666666;
  }

  .navbaritem {
    padding-top: 10px;
    /* padding-bottom: 10px; */
  }

  .nav-wording {
    font-size: 14px !important;
  }

  .nav-wording:active {
    color: #6200EE !important;
  }

  .navbar-menuitem {
    background-color: #6200EE15 !important;
  }


  .css-1ohg3qd {
    width: 90%;
  }

  /* search result isi kandungan */
  .css-iqie2n {
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .navItem-style {
    color: #666666;
  }

}